#p1{
    color:white;
    text-align: center;
}
#p2{
    color:white;
    text-align: center;
}
#image{
    border: 5px solid white;
    margin-left: 25%;
    padding:0px;
    width:50%;
    padding-right: 0px;
}